doctype html
html(lang="en")
    head
        title TodoList 
        link(rel="stylesheet", href="/static/style.css")
    body
        header.navbar
            h1 
                a(href="/") TodoList App 

            nav.nav
                a(href="/works") All works 
                a(href="/archve") Archive 
        block content                
        
                