extends layout.pug 

block content 
    .container 
        h1        
            p1.title= post.title
        p1 Name:       
            p.name #{ post.name }
        p1 Description:         
            p.description #{ post.description }  