extends layout.pug 

block content 

        .container 
            .intro
                h2 This app is for creating blogs from your hobbies 
                p Create your blog here 
                a(href="/create" class="create-post-btn") Post a blog  

            .card-deck
                .card
                    img.card-img-top(src='/static/images/1.jpg' alt='Card image cap')
                    .card-body
                        h5.card-title Anfisa: 
                        p.card-text Hobbies make our life more colouful and they keep us occupied in our leisure time. And I believe hobbies help us both to relax and to develop.
                    .card-footer
                        small.text-muted Last updated 3 mins ago
                .card
                    img.card-img-top(src='/static/images/2.jpg' alt='Card image cap')
                    .card-body
                        h5.card-title Anna Shvets:  
                        p.card-text When I spend time with my friends we always share our plans for future, our problems and discuss our hobby. Hobby is something that keeps us together and helps us to discover the life. Let’s say somebody likes sport, so this person improves his health. Some people like to travel and this is how they learn new things. Somebody likes to collect coins, posters or models of different cars. I tried different kind of hobbies and I can tell you I have found my passion.
                    .card-footer
                        small.text-muted Last updated 3 mins ago
                .card
                    img.card-img-top(src='/static/images/3.jpg' alt='Card image cap')
                    .card-body
                        h5.card-title Samatha:  
                        p.card-text When you play tennis doubles , you have to play with another person. Being able to socialize with opponents and partners is a huge benefit of the game, You are also around others who share similar interests and goals, which is very physiologically rewarding. It’s a great way for young players to make friends and develop their social skills.
                    .card-footer
                        small.text-muted Last updated 3 mins ago
            .card-deck                
            .card.text-center
            .container



            
                   
                        
